<h1>Admin Dashboard</h1>
<table class="table table-bordered table-dark"
  <thead>
    <tr>
      <th scope="col">Number of Products</th>
      <th scope="col">Number of Categories</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= @products.length %> 
      </td>
      <td>
        <%= @categories.length %>
      </td>
    </tr>
  </tbody>
</table>

<%= link_to "To Admin Products Index", admin_products_path(@products), class: 'btn btn-lg btn-primary' %>

